{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block body %}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Sign Up</h3>
                    <form method="post">
                        {{ form.csrf_token() }}
                        <div class="mb-3">
                            {{ render_field(form.name, class="form-control", placeholder="Your Name") }}
                        </div>
                        <div class="mb-3">
                            {{ render_field(form.email, class="form-control", placeholder="Your Email") }}
                        </div>
                        <div class="mb-3">
                            {{ render_field(form.password, class="form-control", placeholder="Your Password") }}
                        </div>
                        <div class="d-grid gap-2">
                            {{ render_field(form.submit, class="btn btn-primary btn-block") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
